body{
  max-width: 95vw;
  margin: auto;
}
:root{
  --main-color: #65C466;
  --head-color: white;

  font-family: 'Mulish', sans-serif;
  font-family: 'Water Brush', cursive;
  font-size: 12px;
}
.btn{
  padding: 1%; 
  border: 1px solid var(--head-color);
  border-radius: 5%;
  background-color: #00000000;
  color: inherit;
}
@media screen and (min-width: 1024px){
  :root{
    font-size: 12px;
  }
}

@media screen and (min-width: 1336px){
  :root{
    font-size: 16px;
  }
}