:root{
  --main-color: #65C466;
  --head-font-color: white;

  font-family: 'Mulish', sans-serif;
   font-size: 12px;
}
.format-text {
  text-indent: 2rem;
  text-transform: capitalize;
  text-align: justify;  
}
.btn{ 
  border: 1px solid var(--head-font-color);
  border-radius: 5%;
  background-color: #00000000;
  color: inherit;
}

@media screen and (min-width: 1024px){
  :root{
    font-size: 12px;
  }
}

@media screen and (min-width: 1336px){
  :root{
    font-size: 16px;
  }
}