:root {
  --main-color: #65c466;
  --head-font-color: white;

  font-family: "Mulish", sans-serif;
  font-size: 12px;
}
.btn {
  padding: 1%;
  border: 1px solid var(--head-font-color);
  border-radius: 5%;
  background-color: var(--main-color);
  color: white;
  white-space: nowrap;
}
.info-header{
  text-align: center;
  font-size: 3rem;  
  color:var(--main-color)
}

.format-text{
  text-indent: 2rem;
  text-transform: capitalize;
  text-align: justify;
}
@media screen and (min-width: 1024px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 1336px) {
  :root {
    font-size: 16px;
  }
}
